@{

    ViewData["Title"] = "Signup";
}

<div class="row bg">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Signup</h3>
                            <hr/>
                            <form method="post">
                                <div class="mb-3">
                                    <label for="studentId" class="form-label">Stduent ID</label>
                                    <input type="text" class="form-control" id="studentId" placeholder="studentId">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                                </div>
                                <div class="mb-3">
                                    <label for="fullName" class="form-label">Full Name</label>
                                    <input type="text" class="form-control" id="fullName" placeholder="fullname">
                                </div>
                                <div class="mb-3">
                                    <label for="password1" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password1" placeholder="password">
                                </div>
                                <div class="mb-3">
                                    <label for="password2" class="form-label">Password Confirmation</label>
                                    <input type="password" class="form-control" id="password2" placeholder="password">
                                </div>
                                <hr/>
                                <button type="submit" class="btn btn-success">Signup</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>